<!DOCTYPE html>
<html>

<head>
    <title>Health Monitoring Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1><i class="fas fa-heartbeat"></i> Health Monitoring Application</h1>
        <ul>
            <li><a href="/blood_sugar"><i class="fas fa-chart-line"></i> Blood Sugar Detection Portal</a></li>
            <li><a href="/heart_disease"><i class="fas fa-heart"></i> Heart Disease Detection Portal</a></li>
            <li><a href="/parkinsons_disease"><i class="fas fa-brain"></i> Parkinson's Disease Detection Portal</a></li>
        </ul>
        <div id="quote-container">
            <span id="quote">"    Keep your blood sugar in check and let your health thrive."
                "A healthy lifestyle is the key to managing blood sugar levels."
                "Empower yourself with knowledge and take control of your blood sugar."</span>
                <br>
            <span id="quote">""Take care of your heart, it's the engine of your life."
                "Your heart matters, so make healthy choices and live well."
                "Remember, every heartbeat is a chance to make a positive change.""</span>
                <br>
            <span id="quote">"Living with Parkinson's requires strength, resilience, and determination."
                "Stay strong and keep moving forward on your Parkinson's journey."
                "Embrace each day with hope and courage, despite the challenges.""</span>
        </div>
    </div>
</body>

</html>